[Unit]
Description="PiJuice LED set script"
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/pjled set
ExecStop=/usr/local/bin/pjled blink

[Install]
WantedBy=multi-user.target
